# Ignore the build directory
build/

# Ignore compiled binaries and libraries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.obj

# Ignore Cargo build directory
target/

# Ignore other Rust specific files
**/*.rs.bk
